<div id='game'>
<h1>Blackjack</h1>

<p>Welcome <%= session[:player_name] %>!</p>

    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>

    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>

<% if @play_again %>
<p><strong>Play again?</strong></p>
      <form id='play_again_yes' action='/bet' method='get'>
      <input type='submit' class='btn btn-primary' value="Yes" />
    </form>
    <form id='play_again_no' action='/gameover' method='get'>
      <input type='submit' class='btn btn-primary' value="No" />
    <form>
<% end %>

<div class='well'>
Dealer's Cards:
<% dealer_cards = session[:dealer_cards] %>

<% if  @show_dealer_cards%>
  <% session[:dealer_cards].each do |card| %>
  <%= card_image(card) %>
  <% end %>
<% else %>
  <img src='/images/cards/cover.jpg' />
  <% session[:dealer_cards].drop(1).each do |card| %>
  <%= card_image(card) %>
  <% end %>
<% end %>

  <% if @show_dealer_button %>
    <form id='dealer_hit_button' action='/dealer/hit' method='post'>
      <input type='submit' class='btn btn-primary' value="Show dealer's next card" />
    <form>

  <% end %>

</div>

<br/>

<div id='player_cards' class='well'>
Player's Cards:

<% session[:player_cards].each do |card| %>
  <%= card_image(card) %>
<% end %>
</div>



<% if @show_buttons %>

<p>
  What would you like to do?

  <%= session[:player_name] %> has a total of <%= calculate_total(session[:player_cards]) %>

</p>

<form id="hit_button" action='/game/player/hit' method='post'>
  <input type="submit" class="btn btn-success" value="Hit" />
</form>

<form id="stay_button" action='/game/player/stay' method='post'>
  <input type="submit" class=" btn btn-warning" value='Stay' />
</form>

<% end %>
</div>