<h1>Blackjack</h1>

<p>Welcome <%= session[:player_name] %>!</p>

<div class='well'>
Dealer's Cards:
<% session[:dealer_cards].each do |card| %>
    <li><%= card.to_s %></li>
  <% end %>
</div>

<br/>

<div class='well'>
Player's Cards:

<% session[:player_cards].each do |card| %>
  <li><%= card.to_s %></li>
<% end %>
</div>

<p>
  What would you like to do?

  <%= session[:player_name] %> has a total of <%= calculate_total(session[:player_cards]) %>

</p>

<% if @show_buttons %>

<form id="hit_button" action='/game/player/hit' method='post'>
  <input type="submit" class="btn btn-success" value="Hit" />
</form>

<form id="stay_button" action='/game/player/stay' method='post'>
  <input type="submit" class=" btn btn-warning" value='Stay' />
</form>

<% end %>